.vscode/*

build/*
dependencies/build/*

projects/VS2019/Arduboy_Emulator/.vs/*
projects/VS2019/Arduboy_Emulator/build/*

test/*
temp/*
benchmark_res/*

*.vcxproj.user


*.txt
*.ini
*.asm
*.hex
*.elf
*.bin
*.7z
*.bat
*.stackdump